In [1]:
import pandas as pd

df = pd.read_csv('data/coba.csv')

In [2]:
label = []
for index, row in df.iterrows():
  if row["Rating"] == 1 or row["Rating"] == 2:
    label.append(0)
  else :
    label.append(1)

df["label"] = label

In [3]:
df.head()

,Unnamed: 0,Nama Pelanggan,Produk,Ulasan,Rating,label
0,0,Firdan,iPad Air 5 2022 M1 Chip 256GB 64GB CELL Cellul...,Mantap. Original,5,1
1,1,Choirul,Realme 10 4G 256GB 128GB Black White 8/256GB 8...,barang ori,5,1
2,2,L***s,SPECIAL REQUEST CUSTOMER STUDIO PONSEL - HP TA...,Happy belanja di sini..\nThanks ya,5,1
3,3,R***I,RESMI Samsung Galaxy S23 5G 8/256GB Garansi SE...,"packing aman, segel repack, ori. berfungsi den...",5,1
4,4,H***s,"Apple Macbook Pro 2021 M1 Pro 14"" RAM 16GB 512...","Pengiriman instan aman ada live tracking, pack...",5,1

In [4]:
df.to_csv('labeling.csv')